<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165743593043-fc7qscelapo8veddl2egr9jjlaot3sgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165743593043-fc7qscelapo8veddl2egr9jjlaot3sgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCs-8KYFiSgLCaB_I4wO3c3PkM1cDnAkCg</string>
	<key>GCM_SENDER_ID</key>
	<string>165743593043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>my-secret-stash-1905</string>
	<key>STORAGE_BUCKET</key>
	<string>my-secret-stash-1905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165743593043:ios:2459226532ffc80d77a8a6</string>
</dict>
</plist>